.navbar{
    background-color: black;
}

.logo{
    color: rgb(233, 27, 27);
    align-items: center;
}

.find-film{
    border-radius: 4px;
    width: 300px;
    margin-right: 300px;
}

.cart-btn{
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    background-color: red;
    border-radius: 4px;
}